include LICENSE.txt
include LICENSE_SUPPLEMENTAL_DISCLAIMER.txt
include README.md
recursive-include cdpcli/data *.json
recursive-include cdpcli/data *.yaml
recursive-include cdpcli/examples *.rst
include setup_common.py
include versioneer.py
include cdpcli/_version.py
include cdpcli/data/release.txt
